In [14]:
import pandas as pd

In [15]:
stats_2017_2018 = pd.read_csv('UAEU Stats 2017-2018.csv')
stats_2018_2019 = pd.read_csv('UAEU Stats 2018-2019.csv')
stats_2019_2020 = pd.read_csv('UAEU Stats 2019-2020.csv')

In [16]:
print(stats_2017_2018.head())
print(stats_2018_2019.head())
print(stats_2019_2020.head())

        YEAR                  COLLEGE_DESC GENDER_DESC   NATIONALITY  \
0  2017-2018  Humanities & Social Sciences        Male      National
1  2017-2018  Humanities & Social Sciences        Male      National
2  2017-2018  Humanities & Social Sciences        Male      National
3  2017-2018  Humanities & Social Sciences        Male  Non-National
4  2017-2018  Humanities & Social Sciences        Male  Non-National

   STUDENT_LEVEL  TOTAL
0      Doctorate      4
1         Master      7
2  Undergraduate    238
3      Doctorate      5
4         Master      1
        YEAR                  COLLEGE_DESC GENDER_DESC   NATIONALITY  \
0  2018-2019  Humanities & Social Sciences        Male      National
1  2018-2019  Humanities & Social Sciences        Male      National
2  2018-2019  Humanities & Social Sciences        Male      National
3  2018-2019  Humanities & Social Sciences        Male  Non-national
4  2018-2019  Humanities & Social Sciences        Male  Non-national

   STUDENT_LEVEL  TOTAL
0      Doctorate    3.0
1         Master    7.0
2  Undergraduate  270.0
3      Doctorate    7.0
4         Master    1.0
        YEAR          COLLEGE_DESC GENDER_DESC    NATIONALITY  STUDENT_LEVEL  \
0  2019/2020      Academic Affairs      Female  Non-nationals  Undergraduate
1  2019/2020      Academic Affairs      Female  Non-nationals      Doctorate
2  2019/2020      Academic Affairs        Male  Non-nationals  Undergraduate
3  2019/2020  Business & Economics      Female      Nationals  Undergraduate
4  2019/2020  Business & Economics      Female      Nationals         Master

   TOTAL
0     16
1      1
2     12
3   1099
4     58
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   YEAR           105 non-null    object
 1   COLLEGE_DESC   105 non-null    object
 2   GENDER_DESC    105 non-null    object
 3   NATIONALITY    105 non-null    object
 4   STUDENT_LEVEL  105 non-null    object
 5   TOTAL          105 non-null    int64
dtypes: int64(1), object(5)
memory usage: 5.0+ KB

In [19]:
df_full = pd.merge(stats_2017_2018, stats_2018_2019, how='outer')
df_full = pd.merge(df_full, stats_2019_2020, how='outer')

print(df_full.head())

        YEAR                  COLLEGE_DESC GENDER_DESC   NATIONALITY  \
0  2017-2018  Humanities & Social Sciences        Male      National
1  2017-2018  Humanities & Social Sciences        Male      National
2  2017-2018  Humanities & Social Sciences        Male      National
3  2017-2018  Humanities & Social Sciences        Male  Non-National
4  2017-2018  Humanities & Social Sciences        Male  Non-National

   STUDENT_LEVEL  TOTAL
0      Doctorate    4.0
1         Master    7.0
2  Undergraduate  238.0
3      Doctorate    5.0
4         Master    1.0

In [20]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319 entries, 0 to 318
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   YEAR           318 non-null    object
 1   COLLEGE_DESC   318 non-null    object
 2   GENDER_DESC    318 non-null    object
 3   NATIONALITY    318 non-null    object
 4   STUDENT_LEVEL  318 non-null    object
 5   TOTAL          318 non-null    float64
dtypes: float64(1), object(5)
memory usage: 17.4+ KB